<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            text-align: center;
            padding: 10;
        }

        .buttons{
            padding: 20px;
            margin: 10px;

        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Select room:</h3>
        <div>
            <button class="buttons" id="room1">V.I.P PRIVATE</button>
        </div>
        <div>
            <button class="buttons" id="room2">BRO CHAT</button>
        </div>
    </div>
    <script>
        const origin = window.location.origin;

        
        const buttons = {
            button1: document.querySelector("#room1"),
            button2: document.querySelector("#room2")
        }
        
        const ids = ["room1", "room2"]

        async function checkIfPasswordIsCorrect(password) {
            let data = {
                    password: password
                }
            let status = undefined
            const response = await fetch(`${origin}/authorization`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            const responseData = await response.json();
            return responseData.authenticate // returns true or false
        }

        
        function main() {
            for (let i = 0; i < Object.keys(buttons).length; i++) {
                let button = buttons[Object.keys(buttons)[i]]
                button.addEventListener("click", async () => {
                    let id = ids[i];
                    const url = origin + "/" + id; 
                    if (id == "room1") {
                        let password = prompt("Insert password: ");
                        let isAuthorized = await checkIfPasswordIsCorrect(password);
                        console.log(isAuthorized);
                        if (isAuthorized) {
                            window.location.href = url;
                        }
                        else {
                            alert("Invalid Password")
                        }
                    }
                    else {
                        window.location.href = url;
                    }
                }); 
            }
        }

        main();

    </script>
</body>
</html>