<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        *:focus {
        outline: none;
        }

        h3 {
            font-size: 40px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgba(255, 255, 255, .15);  
            text-shadow: black 1px 1px;       
        }
        
        body {
            background-image: url("./images/fron_image.jpg");
        }

        button {
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(1.5px);
            font-size: large;
            font-weight: 600;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border: 2px black solid;            
        }

        button:hover {backdrop-filter: blur(0px);}
        button:active {outline: none; opacity: 0.5; backdrop-filter: blur(2px); transition: 0.5s;}

        .container{
            text-align: center;
            padding: 10;
        }
        .buttons{
            padding: 20px;
            margin: 10px;
        }
 

    </style>

</head>
<body>
    <div class="container">

        <h3>Where are you heading ?</h3>

        <div>
            <button class="buttons" id="room1">BROTHEL</button>
        </div>
        <div>
            <button class="buttons" id="room2" style="">CITY PUB</button>
        </div>
    </div>
    <script>
        const origin = window.location.origin;

        
        const buttons = {
            button1: document.querySelector("#room1"),
            button2: document.querySelector("#room2")
        }
        
        const ids = ["room1", "room2"]

        async function checkIfPasswordIsCorrect(password) {
            let data = {
                    password: password
                }
            let status = undefined
            const response = await fetch(`${origin}/authorization`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            const responseData = await response.json();
            return responseData.authenticate // returns true or false
        }

        
        function main() {
            for (let i = 0; i < Object.keys(buttons).length; i++) {
                let button = buttons[Object.keys(buttons)[i]]
                button.addEventListener("click", async () => {
                    let id = ids[i];
                    const url = origin + "/" + id; 
                    if (id == "room1") {
                        let password = prompt("Insert password: ");
                        let isAuthorized = await checkIfPasswordIsCorrect(password);
                        console.log(isAuthorized);
                        if (isAuthorized) {
                            window.location.href = url;
                        }
                        else {
                            alert("Invalid Password")
                        }
                    }
                    else {
                        window.location.href = url;
                    }
                }); 
            }
        }

        main();

    </script>
</body>
</html>