<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            text-align: center;
            padding: 10;
        }

        .buttons{
            padding: 20px;
            margin: 10px;

        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Select room:</h3>
        <div>
            <button class="buttons" id="room1">V.I.P PRIVATE</button>
        </div>
        <div>
            <button class="buttons" id="room2">BRO CHAT</button>
        </div>
    </div>
    <script>
        const origin = window.location.origin;
        async function checkPass(password) {
            const response = await fetch(`${origin}/authorization`, {
                method: "POST",
                body: JSON.stringify({
                    "password": password
                })  
            })
            console.log(response);
        }
        

        const buttons = {
            button1: document.querySelector("#room1"),
            button2: document.querySelector("#room2")
        }
        
        const ids = ["room1", "room2"]
        
        for (let i = 0; i < Object.keys(buttons).length; i++) {
            let button = buttons[Object.keys(buttons)[i]]
            console.log(button)
            button.addEventListener("click", () => {
                let id = ids[i];
                const url = origin + "/" + id; 
                if (id == "room1") {
                    let password = prompt("Insert password: ");
                    console.log(password);
                    checkPass(password);
                    

                }
                //window.location.href = url;
            }); 
        }

    </script>
</body>
</html>